<div class="signin-dashboard">
  <div class="signin-dashboard-size">
    <h1>Sign in</h1>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="signin-dashboard-container">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input
            formControlName="email"
            required
            placeholder="test@test.com"
            matInput
          />
          <mat-error *ngIf="this.signInForm.controls.email.invalid">{{
            errorMessage
          }}</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            required
            matInput
          />
          <mat-error
            *ngIf="
              this.isSubmitted && this.signInForm.controls.password.invalid
            "
            >Veuillez renseigner votre password.</mat-error
          >
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </mat-form-field>
        <br />
        <button mat-flat-button color="primary" type="submit">Sign in</button>
        <br />
        <span *ngIf="errorMessage">
          {{ errorMessage }}
        </span>
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="OnNavigate()"
        >
          Create an account !
        </button>
      </div>
    </form>
  </div>
</div>
