<div class="spinner">
  <div class="dashboard-weather" *ngIf="weather as f">
    <h1 class="dashboard-weather-title">Météo en direct</h1>
    <p class="dashboard-weather-localisation">{{ f.name }}</p>
    <div class="dashboard-weather--infos">
      <div class="dashboard-weather--icon">
        <img
          src="../../../../assets/images/weather-icons/{{
            f.weather[0].icon
          }}.png"
          alt="{{ f.weather[0].main }}"
          class="icon-weather"
        />
        <span class="dashboard-weather--temp-description">{{
          f.weather[0].description | titlecase
        }}</span>
      </div>
      <div class="dashboard-weather--temp">
        <span class="dashboard-weather--temp-temperature"
          >{{ f.main.temp | number: ".0-0" }}<sup>°</sup> C
        </span>
        <div class="dashboard-weather--temp-like">
          <span class="dashboard-weather--temp-like-up"
            ><mat-icon svgIcon="thermometer-chevron-up"></mat-icon
            >{{ highTemperature | number: ".0-0" }}<sup>°</sup> C</span
          >
          <span class="dashboard-weather--temp-like-down"
            ><mat-icon svgIcon="thermometer-chevron-down"></mat-icon
            >{{ lowTemperature | number: ".0-0" }}<sup>°</sup> C
          </span>
        </div>

        <span class="dashboard-weather--temp-tempertaureRessentie"
          >Température ressentie&nbsp;:&nbsp;
          {{ f.main.feels_like | number: ".0-0" }}<sup>°</sup> C</span
        >
      </div>
    </div>

    <div
      class="dashboard-weather-moreInformations"
      *ngIf="weather as weatherInfo"
    >
      <div class="dashboard-weather-moreInformations-wind" *ngIf="weatherWind">
        <img
          src="../../../../assets/images/weather-icons/24.png"
          alt="wind"
          class="icon-weather-moreInformations icon-weather"
        />
        <span>{{ weatherWind | number: ".1-1" }} km/h</span>
      </div>

      <div class="dashboard-weather-moreInformations-humidity">
        <img
          src="../../../../assets/images/weather-icons/53b.png"
          alt="wind"
          class="icon-weather-moreInformations icon-weather"
        />
        <span>{{ weatherInfo.main.humidity }}%</span>
      </div>
      <div class="dashboard-weather-moreInformations-humidity">
        <img
          src="../../../../assets/images/weather-icons/01d.png"
          alt="wind"
          class="icon-weather-moreInformations icon-weather"
        />
        <span>{{ weatherInfo.sys.sunrise * 1000 | date: "H:mm" }}</span>
      </div>
      <div class="dashboard-weather-moreInformations-humidity">
        <img
          src="../../../../assets/images/weather-icons/01n.png"
          alt="wind"
          class="icon-weather-moreInformations icon-weather"
        />
        <span>{{ weatherInfo.sys.sunset * 1000 | date: "H:mm" }}</span>
      </div>
    </div>

    <div>
      <app-widget-line></app-widget-line>
    </div>

    <h1 class="dashboard-weather-title" style="margin: 1.9em 0;">
      Prochaines Journées
    </h1>
    <div class="dashboard-weather-nextDays" *ngIf="hourlyForecast as h">
      <div *ngFor="let dataHForecast of h">
        <div class="dashboard-weather-nextDays-data-test">
          <div>
            {{
              moment(dataHForecast.time * 1000)
                .locale("fr")
                .format("dddd") | titlecase
            }}
          </div>
          <div>
            <img
              src="../../../../assets/images/weather-icons/{{
                dataHForecast.icon
              }}.png"
              alt="wind"
              class="icon-weather-nextDays-data icon-weather"
            />
          </div>
          <div>
            {{ dataHForecast.temperatureHigh | number: ".0-0" }}<sup>°</sup> C
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
    bdColor="#0B132B"
    size="medium"
    color="#fff"
    type="line-spin-clockwise-fade"
    [fullScreen]="false"
  ></ngx-spinner>
</div>
