.dashboard-weather {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-header {
    text-align: center;

    &-title {
      font-size: 4rem;
      font-weight: 900;
    }

    &-localisation {
      font-size: 1.5rem;
      padding: 1em 0;
    }
  }



  .dashboard-weatherOfDay {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    padding: 2em 0;

    &-icon {
      display: grid;
      text-align: center;
      grid-template-rows: 91% 1fr;

      &--description {
        font-size: 1em;
        white-space: nowrap;
      }
    }

    &-temperatures {
      display: grid;
      text-align: right;
      grid-template-rows: 10% 1fr 1fr;

      &--temp {
        font-size: 5.5em;
        font-weight: 800;
        grid-row-start: 2;
      }

      &--like {
        grid-row-start: 3;

        &-up,
        &-down {
          display: inline-flex;
          align-items: center;
          font-size: 0.7em;

          mat-icon {
            margin-right: 0.5em;
          }
        }

        &-up {
          padding-right: 1em;
        }
      }

      &--feltTemp {
        grid-row-start: 4;
      }

    }

  }

  .dashboard-weatherOfDay-informations {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 2em 0;

    &--weather {
      display: grid;
      text-align: center;
    }

    .icon-weather-moreInformations {
      width: 65%;
      margin: auto;
      padding-bottom: 1em;
    }

  }


  .dashboard-weatherOfNextDay {
    margin-top: auto;
    text-align: center;
    padding: 2em 0;

    &--title {
      font-size: 2.5rem;
      font-weight: 900;
      padding: 0 0 1.5em;
    }

    &--days {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-date {
        display: inline;
      }

      .icon-weather-nextDays-data {
        width: 65%;
        margin: 1em 0;
      }
    }


  }


  .widget-line {
    margin: auto;
    width: 100%;
    padding: 2em 0;
  }

  .icon-weather {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }


  @-webkit-keyframes zoomin {
    0% {
      transform: scale(0.65);
    }

    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.65);
    }
  }

  @keyframes zoomin {
    0% {
      transform: scale(0.65);
    }

    50% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(0.65);
    }
  }

  /*End of Zoom in Keyframes */

  /* Zoom out Keyframes */
  @-webkit-keyframes zoomout {
    0% {
      transform: scale(0.65);
    }

    50% {
      transform: scale(0.37);
    }

    100% {
      transform: scale(0.65);
    }
  }

  @keyframes zoomout {
    0% {
      transform: scale(0.65);
    }

    50% {
      transform: scale(0.37);
    }

    100% {
      transform: scale(0.65);
    }
  }

  /*End of Zoom out Keyframes */
}




.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
