<!-- <div class="spinner"> -->
<div class="dashboard-weather" *ngIf="weather as f">
  <header class="dashboard-weather-header">
    <h1 class="dashboard-weather-header-title">Météo en direct</h1>
    <p class="dashboard-weather-header-localisation">{{ f.name }}</p>
  </header>
  <div class="dashboard-weatherOfDay">
    <div class="dashboard-weatherOfDay-icon">
      <img src="../../../../assets/images/weather-icons/{{
            f.weather[0].icon
          }}.png" alt="{{ f.weather[0].main }}" class="icon-weather" />
      <span class="dashboard-weatherOfDay-icon--description">{{
          f.weather[0].description | titlecase
        }}</span>
    </div>
    <div class="dashboard-weatherOfDay-temperatures">
      <span class="dashboard-weatherOfDay-temperatures--temp">{{ f.main.temp | number: ".0-0" }}<sup>°</sup> C</span>
      <div class="dashboard-weatherOfDay-temperatures--like">
        <span class="dashboard-weatherOfDay-temperatures--like-up">
          <mat-icon svgIcon="thermometer-chevron-up"></mat-icon>{{ highTemperature | number: ".0-0" }}<sup>°</sup> C
        </span>
        <span class="dashboard-weatherOfDay-temperatures--like-down">
          <mat-icon svgIcon="thermometer-chevron-down"></mat-icon>{{ lowTemperature | number: ".0-0" }}<sup>°</sup> C
        </span>
      </div>

      <span class="dashboard-weatherOfDay-temperatures--feltTemp">Température ressentie&nbsp;:&nbsp;
        {{ f.main.feels_like | number: ".0-0" }}<sup>°</sup> C</span>
    </div>
  </div>
  <div class="dashboard-weatherOfDay-informations" *ngIf="weather as weatherInfo">
    <div class="dashboard-weatherOfDay-informations--weather" *ngIf="weatherWind">
      <img src="../../../../assets/images/weather-icons/24.png" alt="wind"
        class="icon-weather-moreInformations icon-weather" />
      <span>{{ weatherWind | number: ".1-1" }} km/h</span>
    </div>

    <div class="dashboard-weatherOfDay-informations--weather">
      <img src="../../../../assets/images/weather-icons/53b.png" alt="wind"
        class="icon-weather-moreInformations icon-weather" />
      <span>{{ weatherInfo.main.humidity }}%</span>
    </div>
    <div class="dashboard-weatherOfDay-informations--weather">
      <img src="../../../../assets/images/weather-icons/01d.png" alt="wind"
        class="icon-weather-moreInformations icon-weather" />
      <span>{{ weatherInfo.sys.sunrise * 1000 | date: "H:mm" }}</span>
    </div>
    <div class="dashboard-weatherOfDay-informations--weather">
      <img src="../../../../assets/images/weather-icons/01n.png" alt="wind"
        class="icon-weather-moreInformations icon-weather" />
      <span>{{ weatherInfo.sys.sunset * 1000 | date: "H:mm" }}</span>
    </div>
  </div>
  <ng-container>
    <app-widget-line class="widget-line"></app-widget-line>
  </ng-container>
  <div class="dashboard-weatherOfNextDay">
    <h1 class="dashboard-weatherOfNextDay--title">
      Prochaines Journées
    </h1>
    <div class="dashboard-weatherOfNextDay--days" *ngIf="hourlyForecast as h">
      <div *ngFor="let dataHForecast of h">
        <div class="dashboard-weatherOfNextDay--days-date">
          <div>
            {{
              moment(dataHForecast.time * 1000)
                .locale("fr")
                .format("dddd") | titlecase
            }}
          </div>
          <div>
            <img src="../../../../assets/images/weather-icons/{{
                dataHForecast.icon
              }}.png" alt="wind" class="icon-weather-nextDays-data icon-weather" />
          </div>
          <div>
            {{ dataHForecast.temperatureHigh | number: ".0-0" }}<sup>°</sup> C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <ngx-spinner bdColor="#0B132B" size="medium" color="#fff" type="line-spin-clockwise-fade" [fullScreen]="false">
  </ngx-spinner>
</div> -->
