.addBirthdayDate-dashboard{
    display: inline;
    .addBirthdayDate--title{
        h1{
            font-size: 1em;
            text-align: center;
        }
    }
}

.addBirthdayDate-dashboard-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    vertical-align: middle;
    height: 100%;
    align-self: center;
  }