@import '../../../assets/color';

.dashboard-content {
  display: grid;
  grid-template-columns: 35% 38% 25%;
  grid-template-rows: 64px 60% 1fr;
  gap: 1%;
  height: 100%;

  &-weather {
    background: $aml-blue;
    color: $white-color;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 2em;
    margin-bottom: 1.5em;
    overflow-y: auto;
  }

  &-hours {
    background: $aml-blue;
    color: $white-color;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 2em;
  }

  &-birthday {
    background-color: $aml-pink;
    color: $white-color;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 2em;
  }

  &-twitter {
    background-color: $aml-pink;
    color: $white-color;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 2em;
    margin-bottom: 1.5em;
  }


}

@media (max-width: 1400px) {

  .dashboard-content {
    display: flex;
    flex-direction: column;
  }

  .dashboard-content-data {
    margin-left: 0em;
  }

  .dashboard-content-data-birthday,
  .dashboard-content-dataWidget {
    margin-left: 0em;
  }
}
