<div class="dashboard-content">

  <div class="dashboard-content-weather mat-elevation-z24">
    <app-widget-weather-card></app-widget-weather-card>
  </div>

  <div class="dashboard-content-hours mat-elevation-z24">
    <app-widget-clock></app-widget-clock>
  </div>

  <div class="dashboard-content-birthday mat-elevation-z24">
    <app-widget-birthday></app-widget-birthday>
  </div>

  <div class="dashboard-content-twitter mat-elevation-z24" [ngStyle]="{ display: event ? 'block' : 'none' }">
    <app-widget-twitter></app-widget-twitter>
  </div>

</div>
