<!-- <div class="dashboard-information">
  <div class="dashboard-information-card">
    <mat-card class="dashboard-information-card-collaborator">
      <app-widget-card-like
        label="Collaborators"
        description="24 new since 2020"
        total="440"
        icon="account-group-outline"
        bgColor="#f9d003"
      ></app-widget-card-like>
    </mat-card>
  </div>
  <div class="dashboard-information-card">
    <mat-card class="dashboard-information-card-website">
      <app-widget-card-like
        label="Visits of Amiltone website"
        description="15 visits this week"
        total="200"
        icon="web"
        bgColor="#0073b0"
      ></app-widget-card-like>
    </mat-card>
  </div>
  <div class="dashboard-information-card">
    <mat-card class="dashboard-information-card-linkedin">
      <app-widget-card-like
        label="Followers"
        description="5 new last months"
        total="1,769"
        icon="linkedin"
        bgColor="#ce3189"
      ></app-widget-card-like>
    </mat-card>
  </div>
  <div class="dashboard-information-card">
    <mat-card class="dashboard-information-card-projects">
      <app-widget-card-like
        label="Internal project"
        description="2 new since 2020"
        total="24"
        icon="flask-empty-plus"
        bgColor="#0b132b"
      ></app-widget-card-like>
    </mat-card>
  </div>
</div> -->

<div class="dashboard-content">
  <div class="dashboard-content-weather mat-elevation-z24">
    <app-widget-weather-card></app-widget-weather-card>
  </div>

  <div class="dashboard-content-dataWidget">
    <div class="dashboard-content-aside">
      <div class="dashboard-content-data">
        <div class="dashboard-content-data-hours mat-elevation-z24">
          <app-widget-clock></app-widget-clock>
        </div>
        <div class="dashboard-content-data-birthday mat-elevation-z24">
          <app-widget-birthday></app-widget-birthday>
        </div>
      </div>
      <div
        class="dashboard-content-data-container-weather"
        [ngStyle]="{ display: event ? 'block' : 'none' }"
      >
        <div class="dashboard-content-data-twitter mat-elevation-z24">
          <app-widget-twitter></app-widget-twitter>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- <div class="bloc-stats">
  <div class="bloc-stats-right">
    <div class="dashboard-statistiques">
      <app-widget-line></app-widget-line>
    </div>
    <div class="dashboard-statistiques">
      <app-widget-line></app-widget-line>
    </div>
  </div>
  <div class="bloc-stats-left">
    <div class="dashboard-statistiques">
      <app-widget-line></app-widget-line>
    </div>
    <div class="dashboard-statistiques">
      <app-widget-line></app-widget-line>
    </div>
    <div class="dashboard-statistiques">
      <app-weather-card></app-weather-card>
    </div>
  </div>
</div> -->

  <!-- <div class="dashboard-information">
  <div class="dashboard-information-card">
    <mat-card>
      <app-widget-card
        label="New Collaborator since 2020"
        total="15"
        percentage="50"
      ></app-widget-card>
    </mat-card>
  </div>
  <div class="dashboard-information-card">
    <mat-card>
      <app-widget-card
        label="New Collaborator since 2020"
        total="15"
        percentage="50"
      ></app-widget-card>
    </mat-card>
  </div>
  <div class="dashboard-information-card">
    <mat-card>
      <app-widget-card
        label="New Collaborator since 2020"
        total="15"
        percentage="50"
      ></app-widget-card>
    </mat-card>
  </div>
  <div class="dashboard-information-card">
    <mat-card>
      <app-widget-card
        label="New Collaborator since 2020"
        total="15"
        percentage="50"
      ></app-widget-card>
    </mat-card>
  </div>
</div> -->
</div>
