<footer>
  <mat-divider></mat-divider>
  <div class="dashboard-footer">
    <div class="dashboard-footer--information">
      <p>
        Dashboard 2020 -
        <i>Hakimi semmy</i>
      </p>
    </div>
    <div>
      <ul class="dashboard-footer--menu">
        <li>
          <a [routerLink]="['/posts']" routerLinkActive="active">
            <mat-icon>home</mat-icon>
          </a>
        </li>
        <li>
          <a [routerLink]="['/posts']" routerLinkActive="active">
            <mat-icon>eco</mat-icon>
          </a>
        </li>
        <li>
          <a [routerLink]="['/posts']" routerLinkActive="active">
            <mat-icon>favorite</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
