@font-face {
  font-family: "CustomFont";
  src: url("../../../../assets/fonts/alarmclock.ttf");
}


.container-clock {
  display: flex;
  flex-direction: column;
  height: 100%;

  .clock-welcome {
    text-align: center;

    h1 {
      font-size: 7rem;
      text-shadow: 0px 0px 4px #fff;
    }
  }

  .clock-content {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

    &--clock {
      font-family: "CustomFont", Arial, sans-serif;
      font-size: 9.9em;
      text-shadow: 0px 0px 20px #fff;
    }
  }

  .clock-date {
    font-size: 3.5em;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0px 0px 4px #fff;
    text-align: center;
  }

}
