<app-header></app-header>

<mat-drawer-container>
  <mat-drawer
    mode="side"
    opened
    [class.mat-drawer-open]="sidenavOpen"
    [class.mat-drawer-close]="!sidenavOpen"
    (mouseenter)="openSideNav()"
    (mouseleave)="closeSideNav()"
  >
    <app-sidenav
      [displayLock]="displayLock"
      [sidenavOpen]="sidenavOpen"
      (lockSidenavEvent)="receiveEvent($event)"
    ></app-sidenav>
  </mat-drawer>
  <mat-drawer-content
    [ngStyle]="{ 'padding-left.em ': contentMargin }"
    [ngClass]="{ positionInitialLeft: contentMargin }"
  >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer
  [ngStyle]="{ 'margin-left.em': contentMargin }"
  [ngClass]="{ positionInitialLeft: contentMargin }"
></app-footer>
