@import "../../../assets/color";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  position: fixed;
  width: 250px;
  margin-top: 4em;
  transition: 800ms ease all;
}

mat-drawer-container {
  height: 100vh;
  padding-top: 4em;
  mat-drawer-content {
    margin-left: 3.5em !important;
    padding: 1.5em;
    transition: 800ms ease all;
  }
}

.mat-drawer-close {
  width: 57px;
  opacity: 1;
}

.mat-drawer-open {
  width: 250px;
}

.positionInitialLeft {
  left: 15px;
}
