/* You can add global styles to this file, and also import other style files */

@import './assets/reset';
@import './assets/color';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Raleway';
  @import url('./assets/fonts/Raleway-Regular.ttf');
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato';
  font-size: 14px;
  height: 100%;
}

/* STYLE ICON BUTTON */

button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item>mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

app-footer {
  margin-left: 1.5em;
  transition: 800ms ease all;
}

.positionInitialLeft {
  left: 15px;
}

.mat-icon.lockElement svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #eeeeee;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $aml-blue;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $aml-blue;
}

// Weather
.white {
  fill: #ffffff;
}

.gray {
  fill: #e0e0e0;
}

.yellow {
  fill: #ffeb3b;
}

.highcharts-grid.highcharts-yaxis-grid path {
  stroke: transparent;
}

.mat-drawer-content {
  background-color: $aml-blue-strong;
  overflow: auto;
}

a {
  color: $aml-blue;
}


.ng-trigger-routeAnimations {
  height: 100%;
}


.mat-drawer-content {
  overflow-y: hidden !important;
}


@media (max-width: 1400px) {

  .mat-drawer-content {
    overflow-y: scroll !important;
  }
}

.svg-lp__border--premium {
  background-color: #d4ad60;
}
